<script>
  window.goatTracked = true;
  const ref = document.referrer;
  const path = encodeURIComponent(location.pathname);
  const title = encodeURIComponent(document.title);
  let url = "{{ .Site.Params.goatcounter_url }}/count?p=" + path + "&t=" + title;
  if (ref && !ref.includes(location.hostname)) {
    url += "&r=" + encodeURIComponent(ref);
  }
  const img = new Image();
  img.src = url;
</script>
<noscript>
  <img src="{{ .Site.Params.goatcounter_url }}/count?p={{ .RelPermalink }}&t={{ .Title | urlquery }}" alt="" style="display:none">
</noscript>
